.c-button {
    @apply no-underline border-none outline-none cursor-pointer;
}

.c-button__primary {
    @apply inline-flex items-center gap-[10px] text-base-h5m leading-[1.6] bg-primary-800 text-white rounded-[8px];
    padding: clamp(16px, 14.5915px + 0.3756vw, 9999px) clamp(20px, 17.8873px + 0.5634vw, 9999px);
    @apply transition-all duration-300 ease-in-out;
    
    &:hover {
        @apply transform scale-105;
        
        svg {
            @apply transform translate-x-[5px];
        }
    }
    
    svg {
        @apply shrink-0;
        @apply transition-all duration-300 ease-in-out;
        width: clamp(20px, 16.4789px + 0.939vw, 999px);
    }
}